/* ===== general styling ===== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

i,
svg,
path {
    pointer-events: none;
}

body {
    font-family: 'Muli', sans-serif;
    color: rgb(51, 51, 51);
}

button {
    font-family: inherit;
}

.colors {
    display: flex;
    height: 80vh;
    background-color: #fff;
}

/* ===== each color section =====*/

.color {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.color h2 {
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

.color h2:active,
.adjust:active,
.lock:active,
.sliders button:active,
.panels button:active,
.close-save:active,
.submit-save:active,
.close-library:active,
.palette-btn:active {
    transform: scale(.95);
}

.controls {
    display: flex;
    flex-direction: column;
}

.adjust,
.lock {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 2rem 0;
    background: none;
}

.sliders {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    width: 80%;
    background: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease-in-out;
}

.sliders.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
}

.sliders button,
.close-save,
.close-library {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(73, 73, 73);
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.sliders input {
    -webkit-appearance: none;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    margin: 1rem 0;
    position: relative;
}

/* ===== panels section ===== */
.panels {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    text-align: center;
}

.panels button,
.submit-save,
.palette-btn {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(31, 33, 63);
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: all .3s ease-in-out;
}

.panels button:hover,
.submit-save:hover,
.palette-btn:hover {
    background-color: rgb(14, 16, 36);
}

.panels p,
.panels button,
.palette-btn {
    font-size: 1.2rem;
}

/* ===== popup messages ===== */

.copy-container,
.save-container,
.library-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .7s ease-in-out;
}

.copy-container.active,
.save-container.active,
.library-container.active {
    opacity: 1;
    pointer-events: all;
}

.copy-popup,
.save-popup,
.library-popup {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    width: 35%;
    border-radius: 2rem;
    transform: translateY(-2rem);
    transition: all .6s ease-in-out;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
    transform: translateY(0);
}

.copy-popup h4,
.library-popup h4 {
    font-size: 2rem;
    padding: 2rem;
}

.save-popup h4 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.save-name {
    padding: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ===== library ui ===== */

.library-popup {
    min-width: 50%;
    max-height: 50vh;
    overflow-y: scroll;
    justify-content: flex-start;
}

.custom-palette {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
}

.small-preview {
    display: flex;
}

.small-preview div {
    height: 5rem;
}

.custom-palette h4,
.small-preview,
.small-preview div {
    flex: 1;
}

.small-preview div:nth-of-type(1) {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.small-preview div:nth-of-type(5) {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.palette-btn {
    height: 5rem;
    width: 5rem;
    text-align: center;
    padding: 0;
    border-radius: .5rem;
}

/* ===== mobile view ===== */
@media (max-width: 685px) {

    .color:nth-last-child(4),
    .color:nth-last-child(5) {
        display: none;
    }

    .sliders {
        width: 100%;
    }

    .copy-popup,
    .save-popup,
    .library-popup {
        width: 75%;
    }

    .copy-popup h4,
    .library-popup h4 {
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: center;
    }

    .custom-palette h4 {
        font-size: 1.5rem;
    }

    .small-preview div {
        height: 3rem;
    }

    .custom-palette h4,
    .small-preview,
    .small-preview div {
        flex: 3;
    }

    .palette-btn {
        height: 3rem;
        width: 4rem;
        font-size: 1.2rem;
    }
}

@media(max-width: 480px) {

    .color h2,
    .adjust,
    .lock {
        font-size: 1.7rem;
    }

    .custom-palette h4,
    .small-preview,
    .small-preview div {
        flex: 6;
    }

    .save-name {        
        font-size: 1rem;        
    }

    .copy-popup h4,
    .library-popup h4 {
        font-size: 1.3rem;
        padding: 1.3rem;
        text-align: center;
    }

    .custom-palette h4 {
        font-size: 1.3rem;
    }

    .small-preview div {
        height: 3rem;
    }

    .palette-btn {
        height: 3rem;
        width: 2rem;
        font-size: .6rem;
    }
}